@import "tailwindcss";



:root {
  --chat--color--primary: #2563eb; /* NHS Blue */
  --chat--color--primary-shade-50: #1d4ed8;
  --chat--color--primary--shade-100: #1e40af;
  --chat--color--secondary: #0ea5e9;
  --chat--color-dark: #1e293b;
  --chat--color-light: #f9fafb;

  --chat--toggle--background: var(--chat--color--primary);
  --chat--toggle--hover--background: var(--chat--color--secondary);
  --chat--toggle--active--background: var(--chat--color--primary-shade-50);
  --chat--toggle--color: #ffffff;

  --chat--toggle--size: 60px;
  --chat--window--width: 420px;
  --chat--window--height: 600px;
  --chat--border-radius: 1rem;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
